# Dependências (Ignora em qualquer pasta, frontend ou backend)
**/node_modules/

# Build e Cache do Next.js
**/.next/
**/out/
**/build/

# Variáveis de Ambiente e Segurança (Nunca subir senhas)
**/.env
**/.env.*
!**/.env.example

# Logs de Erros
**/logs/
**/*.log
**/npm-debug.log*
**/yarn-error.log*

# Arquivos de Sistema Operacional (Mac/Windows)
.DS_Store
Thumbs.db