# Configurações do Banco de Dados
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=''
DB_NAME=smartbench_DB

# Configurações do Servidor
PORT=3000
NODE_ENV=development

# Configurações JWT
JWT_SECRET=320c2a4afff5ab80f94f1264f3e643a15d6d391affa6cde663a458c515f76e2d6e171700fa0c8916bdc1a0ee376627ac8b239faed6b5b7e533b1565ba789d60c
JWT_EXPIRES_IN=1h

# Configurações de Upload
UPLOAD_PATH=./uploads
MAX_FILE_SIZE=5242880
ALLOWED_FILE_TYPES=image/jpeg,image/png,image/gif

# Configurações de Paginação
PAGINACAO_LIMITE_PADRAO=10
PAGINACAO_LIMITE_MAXIMO=100

CLOUDINARY_CLOUD_NAME=dshkbyws8
CLOUDINARY_API_KEY=498331733525839
CLOUDINARY_API_SECRET=zub_7V_6WPj3LRlOTxtStXDURwg

EMAIL_USER=smartbench.sistema@gmail.com
EMAIL_PASS=onfn fjgh sice nipr
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587